@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
        font-family: 'ABeeZee', sans-serif !important;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: #e7edf4c5;

}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background: rgba(139, 92, 246, 0.2);
}
